#Header_Col{
background: linear-gradient(rgba(0,0,77,0.93), rgba(100, 56, 255, 1) );
height: 600px;
}

#Header_Row1{
  top: 30%;
}

#Logo{
  margin-top: 150px;
  display: block;
  color: white;
}

#AlertButton{
  border: none;
  background-color: rgb(11, 112, 213);
  height: 35px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 500;
}

#AlertButton p{
  font-size: 16px;
  color: white;
  margin-bottom: 0px;
}

.notification{
  display:block;
}
#AlertButton:hover{
   background-color: rgb(6, 86, 167);
}

#alert-form{
  padding-top: 60px;
  display: flex;
  width: 250px;
  margin-bottom: 30px;
}

#alert-signup{
  width: 270px;
  margin: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 9000px) {
  #alert-signup {
    padding-top: 55px;
  }
}

@media screen and (max-width: 1200px) {
  #alert-signup {
    padding-top: 35px;
  }
}

@media screen and (max-width: 800px) {
  #alert-signup {
    padding-top: 10px;
  }
}

#alert-signup input{
flex: 1;
height: 35px;
background-color: white;
border: none;
}

#Logo h1{
  color: white;
  font-size: 60px;
}

*{
  box-shadow: none !important;
}
*{
  outline: none !important;
}
#Logo h4{
  color: white;
  font-size: 27px;
}
