#Header_Col{
background: linear-gradient(rgba(0,0,77,0.93), rgba(0,0,77,0.87) );
height: 600px;
}

#Header_Row1{
  top: 30%;
}

#Logo{
  display: block;
  color: white;
}

#GetStartedButton{
  margin: auto;
  border-radius: 8px;
  margin-top: 25px;
}

#LoginRow{
  padding-bottom: 20px;
}
#SignUpButton{
  margin: auto;
  border-radius: 8px;
  margin-top: 15px;
  width: 240px;
}

#SignInButton{
  margin: auto;
  border-radius: 8px;
  margin-top: 15px;
  width: 240px;
}
@media screen and (max-width: 9000px) {
  #Logo {
    margin-top: 150px;
  }
}

@media screen and (max-width: 500px) {
  #Logo {
    margin-top: 70px;
  }
  #Header_Col{
    height: 530px;
  }
}

@media screen and (max-width: 320px) {

  #Header_Col{
    height: 570px;
  }
}

#or{
  padding-top: 25px;
}

.fb-login-button{
  margin: auto;
  padding-top: 20px;
}
#AlertButton{
  border: none;
  background-color: rgb(11, 112, 213);
  height: 35px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  font-weight: 500;
  margin-left: 10px;
}

#AlertButton p{
  font-size: 16px;
  color: white;
  margin-bottom: 0px;
}

.notification{
  display:block;
}
#AlertButton:hover{
   background-color: rgb(6, 86, 167);
}

#alert-form{
  padding-top: 60px;
  display: flex;
  width: 300px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.modal-title {
  margin: auto;
}

#alert-signup{
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  padding-top: 15px;
}

@media screen and (max-width: 9000px) {
  #alert-signup {
    padding-top: 55px;
  }
}

@media screen and (max-width: 1200px) {
  #alert-signup {
    padding-top: 35px;
  }
}

@media screen and (max-width: 800px) {
  #alert-signup {
    padding-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  #alert-signup {
    padding-top: 0px;
  }
}

#alert-signup-input{
border-top-left-radius: 2px;
border-bottom-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-right-radius: 2px;
height: 35px;
background-color: white;
border: 1px solid rgba(192, 192, 192, 0.7);
}

#ModalBody{
  background-color: rgba(192, 192, 192, 0.2);
}

@media screen and (max-width: 9000px) {
  #alert-signup-input{
    flex: 1;
  }
}

@media screen and (max-width: 400px) {
  #alert-signup-input{
    flex: .7;
  }
}

@media screen and (max-width: 9000px) {
  #Logo h1{
    color: white;
    font-size: 60px;
  }
}
@media screen and (max-width: 320px) {
  #Logo h1{
    color: white;
    font-size: 50px;
  }
}


*{
  box-shadow: none;
}
*{
  outline: none !important;
}
#Logo h4{
  color: white;
  font-size: 27px;
}
