#FreedomOfInformationBackground{
  background-color:rgba(187, 120, 36, 0.1)}

#FreedomOfInformationIcon{
  color:#BB7824
}

#FreedomofInformationBottom{
  padding-left: 10px;
  padding-right: 10px;
}

#IntellectualPropertyLawBackground{
  background-color: rgba(37,7,133, 0.2);
}

#IntellectualPropertyLawIcon{
  color:#250785;
}

#IntellectualPropertyLawBottom{
  padding-left: 10px;
  padding-right: 10px;
}

#PrivacyBackground{
  color:  rgba(213, 15, 37, 0.1);
}

#PrivacyIcon{
  color:#d50f25;
}

#PrivacyBottom{
  padding-left: 10px;
  padding-right: 10px;
}

#ImmigrationBackground{
  background-color:  rgba(51, 105, 232, 0.1);
}

#ImmigrationIcon{
  color:#3369e8;
}

#ImmigrationBottom{
  padding-left: 10px;
  padding-right: 10px;
}

#FirearmsBackground{
  background-color:  rgba(250, 188, 9, 0.1);
}

#FirearmsIcon{
  color:#fabc09;
}

#FirearmsBottom{
  padding-left: 10px;
  padding-right: 10px;
}

#CannabisBackground{
  background-color: rgba(22, 160, 133, 0.1);
}

#CannabisIcon{
  color:#16A085;
}

#CannabisBottom{
  padding-left: 10px;
  padding-right: 10px;
}

#TaxesBackground{
  background-color: rgba(22, 160, 133, 0.1);
}

#TaxesIcon{
   color:#16A085;
 }

 #TaxesBottom{
   padding-left: 10px;
   padding-right: 10px;
 }

 #SmallBusinessBackground{
   background-color: rgba(121, 90, 71, 0.1);
 }

 #SmallBusinessIcon{
   color:#795a47;
 }

#SmallBusinessBottom{
  padding-left: 10px;
  padding-right: 10px; 
}
