#disclaimerright a{
  color: white;
}

#disclaimerright a:hover{
  color: white;
  text-decoration: underline;
}

#disclaimerright{
  float: right;
  padding-right: 10px;
}

#copyrightleft
{
  float: left;
  padding-left: 10px;
}

.footer{
      background-color:#00004d;
      height:50px;
    }

  .footer h1 {
    color:#fff;
    padding-top: 17px;
    font-weight:500;
    font-size: 14px;
  }
