/* CSS declarations go here */


/* Meet the Team */
body{
}
.ourTeam-hedding{
    background-color:#00004d;
    height:200px;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background: linear-gradient(rgba(0,0,0,.10));
}
.ourTeam-hedding h1{
    color:#fff;
    padding:70px 0px;
    font-weight:900;
    z-index: 1;
}
.ourTeam-box{
    background-color: #FFFFFF;
}
.section1{
    padding: 30px 0px 0px 0px;
}
.section1 img{
    padding:5px;
    border-radius:50%;
    height:190px;
    width: 190px;
}
.section2 h1{
    font-size:15px;
    font-weight: 400;
    margin:0px;
    display: inline-block;
    padding: -20px 0px;
    color: #999999;
}
.section2 p{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    padding-bottom: 0px;
    border-radius: 3px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.section2 span{
}
.section2 label{
    padding: 8px 10px 8px 10px;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}
.section3 p{
    padding: 0px 15px 0px 15px;
    font-size:14px;
    color:#c3c9c9;
}
.section4{
    padding:10px 0px 50px 0px;
}
.columbia img{
  display: block;
  padding-bottom:10px;
  max-width:190px;
  max-height:80px;
  width: auto;
  height: auto;
  margin: auto;
}

.ubc img{
  display: block;
  max-width:130px;
  max-height:50px;
  width: auto;
  height: auto;
  margin: auto;
}

.sciencespo img{
  display: block;
  max-width:120px;
  max-height:50px;
  width: auto;
  height: auto;
  margin: auto;
}

.ubc i{
    padding:3px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.columbia i{
    padding:3px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.sciencespo i{
    padding:3px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.section-info{
}
.section-danger{
}
.section-info .section1 img{
    padding:0px;
}
.section-info .section2 p{
}

.section-danger .section2 p{
}

.section-danger .section1 img{
    padding:0px;
}
.section-info .section4 i{
}
.section-danger .section4 i{
}

.section-info .section2 h1{
}
.section-danger .section2 h1{
}
/* Meet the Team */
