/* CSS declarations go here */

/* Navbar */
.navbar{
  padding: 0px;
}

#navbarTogglerDemo02 ul{
  margin: 0px;
   line-height: 50px;
}
.navbar-brand{
  font-weight: 300;
  font-size: 30px;
}

#navbarTogglerDemo02 a{
  color: #fff;
  padding: 12px;
  font-size: 20px;
  font-weight: 300px;
  height: auto;
}

#navbarTogglerDemo02 a:hover {
  background-color: #ccddff;
  background: rgba(204, 221, 255, 0.5);
}

/* Navbar */

/* Map */

#map_section{
  height:800px;
}

#map-container {
  position: relative;
  display:block;
  padding-top: 20px;
  height: 100%;
  width: 100%;
}

#map-background {
  width: 100%;
  max-width: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -10;
  height: 550px;;
}

#map {
  max-height: 700px;
  height: 100%;
  width: 100%;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#map path:hover {
  fill: #008FBA;
}

#map .active-state {
  fill: #008FBA;
}
/* Map */

/* What we do */
.what_we_do-background{
    background-color:#FFF;
    height:200px;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background: linear-gradient(rgba(0,0,0,.10));
}

.what_we_do-background h1{
    padding:70px 0px;
    font-weight:900;
    z-index: 1;
}


/* What we do */




/* Meet the Team */
body{
}
.ourTeam-hedding{
    background-color:#00004d;
    height:200px;
    width:100%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background: linear-gradient(rgba(0,0,0,.10));
}
.ourTeam-hedding h1{
    color:#fff;
    padding:70px 0px;
    font-weight:900;
    z-index: 1;
}
.ourTeam-box{
    background-color: #FFFFFF;
}
.section1{
    padding: 30px 0px 0px 0px;
}
.section1 img{
    padding:5px;
    border-radius:50%;
    height:190px;
    width: 190px;
}
.section2 h1{
    font-size:15px;
    font-weight: 400;
    margin:0px;
    display: inline-block;
    padding: -20px 0px;
    color: #999999;
}
.section2 p{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 15px;
    padding-bottom: 0px;
    border-radius: 3px;
    margin-top: -5px;
    margin-bottom: 0px;
}
.section2 span{
}
.section2 label{
    padding: 8px 10px 8px 10px;
    font-weight: normal;
    margin: 30px 0px 35px 0px;
    border-radius: 2px;
}
.section3 p{
    padding: 0px 15px 0px 15px;
    font-size:14px;
    color:#c3c9c9;
}
.section4{
    padding:10px 0px 50px 0px;
}
.columbia img{
  display: block;
  padding-bottom:10px;
  max-width:190px;
  max-height:80px;
  width: auto;
  height: auto;
  margin: auto;
}

.ubc img{
  display: block;
  max-width:130px;
  max-height:50px;
  width: auto;
  height: auto;
  margin: auto;
}

.sciencespo img{
  display: block;
  max-width:120px;
  max-height:50px;
  width: auto;
  height: auto;
  margin: auto;
}

.MIT img{
  display: block;
  max-width:140px;
  max-height:50px;
  width: auto;
  height: auto;
  margin: auto;
}

.MIT {
  padding-bottom:100px;
}

.ubc i{
    padding:3px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.columbia i{
    padding:3px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.sciencespo i{
    padding:3px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
}
.section-info{
}
.section-danger{
}
.section-info .section1 img{
    padding:0px;
}
.section-info .section2 p{
}

.section-danger .section2 p{
}

.section-danger .section1 img{
    padding:0px;
}
.section-info .section4 i{
}
.section-danger .section4 i{
}

.section-info .section2 h1{
}
.section-danger .section2 h1{
}
/* Meet the Team */

/* footer */
.footer{
    background-color:#00004d;
    height:50px;
  }

.footer h1 {
  color:#cccccc;
  padding-top: 17px;
  font-weight:500;
  font-size: 14px;
}

/* footer */

/* Disclaimer Section */

           /* Customized Scrollbar */

        /*  #disclaimer_section::-webkit-scrollbar-track
          {
          	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          	border-radius: 10px;
          	background-color: #F5F5F5;
          }

          #disclaimer_section::-webkit-scrollbar
          {
          	width: 12px;
          	background-color: #00004d;
          }

          #disclaimer_section::-webkit-scrollbar-thumb
          {
          	border-radius: 10px;
          	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
          	background-color: #52527a;
          }

          /* Customized Scrollbar */

#disclaimer_section{
  height:170px;
  background-color:#00004d;
  overflow-y: auto;
  overflow-x: hidden;

}
#disclaimer_section h1{
  color:#cccccc;
  padding-top: 17px;
  padding-left:17px;
  font-weight:500;
  font-size: 16px;
}

#disclaimer_section p{
  color:#cccccc;
  padding-top: 17px;
  padding-left: 35px;
  padding-right: 40px;
  font-weight:500;
  font-size: 14px;
  width: auto;
}

/* Disclaimer Section */
